$primary: #216DC2;
$primary-transparent: rgba(33, 109, 194, 0.8);
$secondary: #93C5FD;
$secondary2: #1E3A8A;
$dark: #000000;
$light: #FFFFFF;
$menu-background: #FFFFFF;
$disabled: #9CA3AF;

@font-face {
    font-family: 'RostelecomBasis';
    src: url('~@/assets/fonts/rostelecombasis_light.otf');
    font-style: normal;
    font-weight: normal;
} 

@mixin font {
    font-family: 'RostelecomBasis';
}

@mixin big-text {
    @include font;
    font-size: 26px; 
}

@mixin h1 {  
    @include font;
    font-size: 52px;
} 

@mixin h2 {  
    @include font;
    font-size: 32px;
} 

@mixin text {  
    @include font;
    font-size: 20px;
} 

@mixin small-text {  
    @include font;
    font-size: 16px;
}